@model Uspa.Admin.ViewModel.ContentViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Contents</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.introtext)
        </dt>

        <dd>
            @Html.Raw(Model.introtext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created)<br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified)<br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.published)<br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkIn)<br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkOut)<br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.title)<br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.site.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.site.title)<br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdByUser.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdByUser.name)<br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifiedByUser.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifiedByUser.name)<br />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
