@model Uspa.Domain.LocalDb.Sites

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sites</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Site
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            Content
        </dt>

        <dd>
            @Html.DisplayFor(model => model.countContent)
        </dd>

        <dt>
            Language
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Languages.title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
